extends ../partials/head
block content
  .all-wrapper
    .all-header
      a.all-header-logo-wrapper(href='/' + (query_lang ? '?lang=' + query_lang : ''))
        img.all-header-logo(src=`${URL}/img/logo/header.svg` alt='klein logo')
      if os && download_links
        a.all-header-download-button(href=download_links[os] target='_blank')
          span.all-header-download-button-text= __('Try Now')
      .all-header-socials-wrapper
        a.each-all-header-social(href='https://twitter.com/klein_run' target='_blank')
          svg.each-all-header-social-icon(viewBox='0 0 20 19' xmlns='http://www.w3.org/2000/svg')
            path(d='M15.7512 0.333328H18.818L12.1179 8.09914L20 18.6667H13.8284L8.99458 12.2575L3.46359 18.6667H0.394938L7.5613 10.3603L0 0.333328H6.32828L10.6976 6.19153L15.7512 0.333328ZM14.6748 16.8051H16.3742L5.4049 2.09709H3.58133L14.6748 16.8051Z" fill="#5964FA')
        a.each-all-header-social(href='https://t.me/node101' target='_blank')
          svg.each-all-header-social-icon(viewBox='0 0 496 512' xmlns='http://www.w3.org/2000/svg')
            path(d='M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z')
      if lang == 'tr'
        a.all-header-language-button(href='/?lang=en')
          .all-header-language-button-text English
          img.all-header-language-button-image(src=`${URL}/img/flags/en.png` alt='klein language english')
      else
        a.all-header-language-button(href='/?lang=tr')
          .all-header-language-button-text Türkçe
          img.all-header-language-button-image(src=`${URL}/img/flags/tr.png` alt='klein language turkish')
    .all-content
      .title-wrapper
        h1.title= __('Install Nodes')
        h1.title= __('With Just a Click')
        h2.subtitle
          span= __('Klein is a public-good project aiming for everyone to be able to ')
          span.subtitle-highlight= __('install and manage')
          span= __(' their nodes without writing a single line of code in tens of different Cosmos chains.')
      if os && download_links
        .download-wrapper
          a.download-button(href=download_links[os] target='_blank')
            span.download-button-text= __('Download Now')
            if os == 'mac'
              img.download-button-icon(src=`${URL}/img/os/white/mac.svg` alt='klein mac os')
            if os == 'linux'
              img.download-button-icon(src=`${URL}/img/os/white/linux.svg` alt='klein linux os')
            if os == 'windows'
              img.download-button-icon(src=`${URL}/img/os/white/windows.svg` alt='klein windows os')
          .download-info-wrapper
            span.download-text= __('Also available on:')
            if os != 'mac'
              a.other-download-button(href=download_links.mac target='_blank')
                img.other-download-button-icon(src=`${URL}/img/os/gray/mac.svg` alt='klein mac os')
            if os != 'linux'
              a.other-download-button(href=download_links.linux target='_blank' style='margin-bottom: -3px')
                img.other-download-button-icon(src=`${URL}/img/os/gray/linux.svg` alt='klein linux os')
            if os != 'windows'
              a.other-download-button(href=download_links.windows target='_blank')
                img.other-download-button-icon(src=`${URL}/img/os/gray/windows.svg` alt='klein windows os')
      .product-images-wrapper
        img.product-header-image(src=`${URL}/img/klein/header.png` alt='Klein testnet mainnet header image')
        img.product-projects-image(src=`${URL}/img/klein/projects.png` alt='Klein projects board image')
        img.product-login-image(src=`${URL}/img/klein/login.png` alt='Klein login image')
        img.product-small-details-image(src=`${URL}/img/klein/details-small.png` alt='Klein small details image')
      .security-wrapper
        h1.security-title= __('Your Node,')
        h1.security-title(style='margin-left: auto')= __('Your Privacy.')
        p.security-description= __('Klein does not access, store, save, record, or share your information in any way. We only provide a beautiful and useful interface for you to control your node more efficiently. Your node is yours and yours only. We do not have access to it, and we do not want to.')
      .projects-wrapper
        each project in projects
          img.each-project-logo(src=`${URL}/img/projects/${project}.png` alt=`Klein project ${project} logo`)
      .steps-wrapper
        .steps-image-wrapper
          img.steps-project-details-image(src=`${URL}/img/klein/details.png` alt='Klein project details image')
          img.steps-login-image(src=`${URL}/img/klein/login.png` alt='Klein login image for steps')
        .steps-text-wrapper
          h1.steps-title= __('Choose a Blockchain,')
          h1.steps-title= __('Connect to your Server,')
          h1.steps-title= __('Install the Node.')
          p.steps-description= __('Does not matter if you are an experienced blockchain validator, a founder discovering new chains, or just a blockchain enthusiast trying to join a new testnet; Klein is the perfect Web3 tool for you.')
      img.node-operations-image(src=`${URL}/img/klein/operations.png` alt='Klein node operations image')
      .graphs-wrapper
        .graphs-text-wrapper
          h1.graphs-title= __('Reach your Node:')
          h1.graphs-title= __('Wherever you are,')
          h1.graphs-title= __('Whenever you want.')
          p.graphs-description= __('Use Klein to access your node from various platforms and monitor its CPU, RAM, and memory usage.')
          h2.graphs-subtitle
            span= __('Make your node\'s uptime ')
            span.graphs-subtitle-highlight #{__('100%')}
            span= __('.')
        .graphs-image-wrapper
          img.graphs-one-image(src=`${URL}/img/klein/graph1.png` alt='Klein graph one image')
          img.graphs-two-image(src=`${URL}/img/klein/graph2.png` alt='Klein graph two image')
      .update-wrapper
        .update-image-wrapper
          img.update-navbar-image(src=`${URL}/img/klein/navbar.png` alt='Klein navbar image')
          img.update-installation-image(src=`${URL}/img/klein/installation.png` alt='Klein installation image')
        .update-text-wrapper
          h1.update-title
            span.update-title-bottom= __('Latest technology,')
            span.update-title-top= __('Highest block.')
          p.update-description= __('By using the foremost technology, Klein brings most effective ways of accessing the chain to you, making sure you are always on the highest block, validating as hard as you can. Without a single line of code, be the validator every chain needs.')
          h2.update-subtitle= __('Because it is all about decentralization.')
      .end-content-wrapper
        h1.end-content-title= __('Do not deal with terminals and errors anymore!')
        h1.end-content-title= __('Start using Klein now.')
        if os && download_links
          a.download-button(href=download_links[os] target='_blank')
            span.download-button-text= __('Download Now')
            svg.download-button-icon(viewbox='0 0 12 15' xmlns='http://www.w3.org/2000/svg')
              path(d='M11.3436 8.91421L10.6365 8.20711L6.18526 12.6583V0.927443H5.18823V12.6583L0.736997 8.20711L0.0298907 8.91421L5.68674 14.5711L11.3436 8.91421Z')
    .all-footer
      .all-footer-top-wrapper
        h1.all-footer-title Klein
        h2.all-footer-subtitle= __('Never miss an update on Klein!')
        form.all-footer-input-wrapper#footer-subscribe-form
          input.all-footer-input#footer-email(type='email' placeholder=__('Your email address') autocomplete='none' name='new-password')
          button.all-footer-input-button
            span.all-footer-input-button-text= __('Subscribe')
        span.all-footer-input-error-text#email-validation-error(style='display: none')= __('Please enter a valid email address.')
        span.all-footer-input-error-text#unknown-error(style='display: none')= __('An unknown error occured, please try again later.')
        span.all-footer-input-success-text#already-registered-message(style='display: none')= __('You have already registered for our newsletter, thank you for your interest.')
        span.all-footer-input-success-text#success-message(style='display: none')= __('You have succesfully registered for our newsletter, thank you for your interest.')
        h3.all-footer-reach-us-text
          span= __('You can reach us anytime from')
          a.all-footer-reach-us-link(href='mailto:hello@node101.io' target='_blank') hello@node101
          span= __('email address.')
      .all-footer-bottom-wrapper
        span.all-footer-bottom-text
          span= __('Designed & Developed by')
          a.all-footer-bottom-link(href='https://node101.io' target='_blank') node101
          span= __('All rights reserved.')